<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard examplee</h1>
    <p>Información de la API:</p>
    <ul>
        {% for order in api_data.orders %}
            <li>{{ order.name }} - {{ order.state }}</li>
        {% endfor %}
    </ul>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Dashboard</title>
</head>
<body>
    <h1>Order Details</h1>
    <p>Name: {{ order.name }}</p>
    <p>Product Type: {{ order.product_type }}</p>
    <p>State: {{ order.get_state_display }}</p>
    <p>Created At: {{ order.created_at }}</p>
    <p>Quantity: {{ order.quantity }}</p>
    <p>Paid: {{ order.paid }}</p>
    <p>Profits: {{ order.profits }}</p>
</body>
</html>
