{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <title>Inicio</title>
  </head>

  <body>
    <div class="navbar">
        <a href="#home">Inicio</a>
        <div class="dropdown">
          <button class="dropbtn">Almacen 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Ver</a>
            <a href="#">Agregar</a>
            <a href="#">Borrar</a>
            <a href="#">Editar</a>
          </div>
        </div> 
        <div class="dropdown">
          <button class="dropbtn">Ordenes 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Ver</a>
            <a href="#">Agregar</a>
            <a href="#">Borrar</a>
            <a href="#">Editar</a>
          </div>
        </div> 
        <div class="dropdown">
          <button class="dropbtn">Lotes 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Ver</a>
            <a href="#">Agregar</a>
            <a href="#">Borrar</a>
            <a href="#">Editar</a>
          </div>
        </div> 
        <div class="dropdown">
          <button class="dropbtn">Registros 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Ver</a>
            <a href="#">Agregar</a>
            <a href="#">Borrar</a>
            <a href="#">Editar</a>
          </div>
        </div> 
        <div class="dropdown">
          <button class="dropbtn">Clientes 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Ver</a>
            <a href="#">Agregar</a>
            <a href="#">Borrar</a>
            <a href="#">Editar</a>
          </div>
        </div>
        <a id="logout">Logout</a>
    </div>
  </body>
</html>
